body{
  background-image: url("../images/fondo.jpg");
  background-size: contain;
  background-position: center;
}

.barra-registro{
  background: rgba(255, 255, 255, 0.9);
  padding: 0 25px;
  text-align: center;
}

.boton{
  background: #59B3DE;
  border-radius: 12px;
  font-size: 25px;
  padding: 10px 25px;
}

.boton:hover{
  color: white;
  background: #007CB8;
}
